<br><%- include("../partials/header") %>
<style>
	body{
		background-image:url(https://images.unsplash.com/photo-1547399700-11a0c28465bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
		background-size:cover;
	}
	.bro h1{
		color:white;
	}
	.int{
		width:30vh;
		margin-bottom:2vh;
	}
	#ro{
		width:20vh;
	 margin-bottom:20vh;
	}
</style>

<div class="container">
	<div class="row">
		

		<h1 style="text-align:center" color="white">
			Add photos of new event
		</h1>
		<div class="row text-center" style="width:30%; margin: 100px auto;">
			
				
				<form action="/mains" method="POST" enctype="multipart/form-data">
					<div class="form-group">
						<label for="name">Choose a category</label>
						<select class="form-control" type ="text" name="campground[name]"  id="name" required >
						
								  
									<option value="Landscape">Landscape</option>
									<option value="Wildlife">Wildlife</option>
									<option value="Macro">Macro</option>
									<option value="Urban">Urban</option>
								  </select>
					</div>
					<div class="form-group">
						<label for="image">Image</label>
						<input class="form-control"  type="file" id="image" name="image" accept="image/*" required> 
					<p style="width:100%; margin: 25px auto;">
					</div>
					<div class="form-group">
						<input class="form-control" type="text" name="campground[description]" placeholder="Describe" required>
					</div>
						
						

						<div class="form-group"  >
						<button id="ro" class="btn btn-dark btn-lg btn-block">
						Submit!
					   </button>
					</div>	
						
					</p>
				</form>
        <div class="row text-center">
			<a id="ro" class="btn btn-primary btn-sm" href="/mains">Go Back</a>
		</div>
		</div>
	
 
		
	</div>
</div>
<%- include("../partials/footer") %>