<h1>
	Upload image ML Tagging
</h1>


<form action="/tagging" method="POST" enctype="multipart/form-data">
						
					<div class="form-group" >
						<label for="image">Image</label>
						<input class="form-control" type="file" name="image" id="image" accept="image/*" required></div>
					<p style="width:100%; margin: 25px auto;">
						<button class="btn btn-success btn-lg">
						Submit!
					   </button>
						
					</p>
				</form>