<br><%- include("./partials/header") %>
	<style>
	
		body{
			background-color:papayawhip
		}


p{
	font-family:source sans pro;
	text-align:center;
	padding-left:50px;
	padding-right:50px;
	font-size:20px;
}
h1{
	color:black;
	text-align:center;
}</style>

<h1>Medi-Caps University Photography Club</h1>
<div>
	<p><b>MUPC (Medi-caps University Photography Club)</b> established in September 2016 by  Shreyash , Ritesh Patidar and Vaibhav Dange . And our faculty mentor are Dr. Rekha Jain (HOD mathematics department ) , Mr. Anil Patidar ( Mechanical Department ) and Mr . Ravi Patel (Mechanical Department) we work under the guidance of them .At MUPC we learn, grow and create memories together.<p>
	 We work on the fact that photography doesn’t compulsorily require DSLR or any high end camera. Photography is all about capturing emotions and moments at the right time.  We not only cover the field of photography but also videography , editing and script writing .MUPC is one of the most active club in the University which covers 40+ in house events including guest lectures  ,  convocation , induction , cultural event of the University i.e. Moonstone,</p> <p>We also organise open workshops ,advance workshops and photo walks for the students to have a better hands on as well as practical experience. Competitions and Contest on different themes and ideas are conducted frequently. This gives students to explore more and try different perspectives and giving them more exposure in the field. Students winning the competition are awarded with certificate . Team spirit , leadership , discipline and punctuality is exercised in the club . And last but not the least we at MUPC not only grow as a individual but also as a team .</p>

</div>
<div class="row text-center">
			<a class="btn btn-info btn-md" href="/mains">Go Back</a>
		</div>
<%- include("./partials/footer") %>

